SmartHome.actioncontroller/smarthome.actioncontroller/appsettings.json
SmartHomeTasksManager/SmartHomeTasksManager/Properties/launchSettings.json
SmartHomeTasksManager/SmartHomeTasksManager/appsettings.Development.json
SmartHome.webapi/SmartHome.webapi/Properties/launchSettings.json
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/appsettings.Development.json
SmartHome.webapi/SmartHome.webapi/appsettings.json
SmartHome.webapi/.idea/.idea.SmartHome.webapi/.idea/dataSources.local.xml
SmartHome.webapi/.idea/.idea.SmartHome.webapi/.idea/dataSources.xml
SmartHome.webapi/.idea/.idea.SmartHome.webapi/.idea/efCoreCommonOptions.xml
SmartHome.webapi/.idea/.idea.SmartHome.webapi/.idea/efCoreDialogsState.xml
SmartHome.webapi/.idea/.idea.SmartHome.webapi/.idea/encodings.xml
SmartHome.webapi/.idea/.idea.SmartHome.webapi/.idea/indexLayout.xml
SmartHome.webapi/.idea/.idea.SmartHome.webapi/.idea/projectSettingsUpdater.xml
SmartHome.webapi/.idea/.idea.SmartHome.webapi/.idea/vcs.xml
SmartHome.webapi/.idea/.idea.SmartHome.webapi/.idea/workspace.xml
SmartHome.webapi/.idea/.idea.SmartHome.webapi/.idea/dataSources/571e9368-6443-468e-84ba-2f5ef87b5bcc.xml
SmartHome.webapi/.idea/config/applicationhost.config
SmartHome.webapi/SmartHome.webapi/appsettings.Development.json
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/appsettings.json
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/AutoMapper.dll
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/FluentAssertions.dll
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/FluentResults.dll
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/FluentResults.Extensions.FluentAssertions.dll
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/Humanizer.dll
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Abstractions.dll
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Design.dll
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.dll
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Relational.dll
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/Microsoft.Extensions.DependencyModel.dll
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/Microsoft.IdentityModel.JsonWebTokens.dll
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/Microsoft.IdentityModel.Logging.dll
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.dll
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/Microsoft.IdentityModel.Tokens.dll
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/Microsoft.OpenApi.dll
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/Mono.TextTemplating.dll
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/NLog.dll
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/NLog.Extensions.Logging.dll
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/NLog.Web.AspNetCore.dll
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/Npgsql.dll
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/SmartHome.webapi.deps.json
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/SmartHome.webapi.dll
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/SmartHome.webapi.exe
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/SmartHome.webapi.pdb
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/SmartHome.webapi.runtimeconfig.json
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/System.CodeDom.dll
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/System.Configuration.ConfigurationManager.dll
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/System.IdentityModel.Tokens.Jwt.dll
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/System.Security.Cryptography.ProtectedData.dll
SmartHome.webapi/SmartHome.webapi/bin/Debug/net7.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
SmartHome.webapi/SmartHome.webapi/obj/project.assets.json
SmartHome.webapi/SmartHome.webapi/obj/project.nuget.cache
SmartHome.webapi/SmartHome.webapi/obj/project.packagespec.json
SmartHome.webapi/SmartHome.webapi/obj/rider.project.restore.info
SmartHome.webapi/SmartHome.webapi/obj/SmartHome.webapi.csproj.EntityFrameworkCore.targets
SmartHome.webapi/SmartHome.webapi/obj/SmartHome.webapi.csproj.nuget.dgspec.json
SmartHome.webapi/SmartHome.webapi/obj/SmartHome.webapi.csproj.nuget.g.props
SmartHome.webapi/SmartHome.webapi/obj/SmartHome.webapi.csproj.nuget.g.targets
SmartHome.webapi/SmartHome.webapi/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
SmartHome.webapi/SmartHome.webapi/obj/Debug/net7.0/apphost.exe
SmartHome.webapi/SmartHome.webapi/obj/Debug/net7.0/SmartHome.webapi.AssemblyInfo.cs
SmartHome.webapi/SmartHome.webapi/obj/Debug/net7.0/SmartHome.webapi.AssemblyInfoInputs.cache
SmartHome.webapi/SmartHome.webapi/obj/Debug/net7.0/SmartHome.webapi.assets.cache
SmartHome.webapi/SmartHome.webapi/obj/Debug/net7.0/SmartHome.webapi.csproj.AssemblyReference.cache
SmartHome.webapi/SmartHome.webapi/obj/Debug/net7.0/SmartHome.webapi.csproj.CopyComplete
SmartHome.webapi/SmartHome.webapi/obj/Debug/net7.0/SmartHome.webapi.csproj.CoreCompileInputs.cache
SmartHome.webapi/SmartHome.webapi/obj/Debug/net7.0/SmartHome.webapi.csproj.FileListAbsolute.txt
SmartHome.webapi/SmartHome.webapi/obj/Debug/net7.0/SmartHome.webapi.dll
SmartHome.webapi/SmartHome.webapi/obj/Debug/net7.0/SmartHome.webapi.GeneratedMSBuildEditorConfig.editorconfig
SmartHome.webapi/SmartHome.webapi/obj/Debug/net7.0/SmartHome.webapi.genruntimeconfig.cache
SmartHome.webapi/SmartHome.webapi/obj/Debug/net7.0/SmartHome.webapi.GlobalUsings.g.cs
SmartHome.webapi/SmartHome.webapi/obj/Debug/net7.0/SmartHome.webapi.MvcApplicationPartsAssemblyInfo.cache
SmartHome.webapi/SmartHome.webapi/obj/Debug/net7.0/SmartHome.webapi.MvcApplicationPartsAssemblyInfo.cs
SmartHome.webapi/SmartHome.webapi/obj/Debug/net7.0/SmartHome.webapi.pdb
SmartHome.webapi/SmartHome.webapi/obj/Debug/net7.0/staticwebassets.build.json
SmartHome.webapi/SmartHome.webapi/obj/Debug/net7.0/ref/SmartHome.webapi.dll
SmartHome.webapi/SmartHome.webapi/obj/Debug/net7.0/refint/SmartHome.webapi.dll
SmartHome.webapi/SmartHome.webapi/obj/Debug/net7.0/staticwebassets/msbuild.build.SmartHome.webapi.props
SmartHome.webapi/SmartHome.webapi/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.SmartHome.webapi.props
SmartHome.webapi/SmartHome.webapi/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.SmartHome.webapi.props
SmartHomeTasksManager/.idea/.idea.SmartHomeTasksManager/.idea/.gitignore
SmartHomeTasksManager/.idea/.idea.SmartHomeTasksManager/.idea/encodings.xml
SmartHomeTasksManager/.idea/.idea.SmartHomeTasksManager/.idea/indexLayout.xml
SmartHomeTasksManager/.idea/.idea.SmartHomeTasksManager/.idea/vcs.xml
SmartHomeTasksManager/SmartHomeTasksManager/bin/Debug/net7.0/appsettings.Development.json
SmartHomeTasksManager/SmartHomeTasksManager/bin/Debug/net7.0/appsettings.json
SmartHomeTasksManager/SmartHomeTasksManager/bin/Debug/net7.0/Microsoft.Extensions.Configuration.Abstractions.dll
SmartHomeTasksManager/SmartHomeTasksManager/bin/Debug/net7.0/Microsoft.Extensions.Configuration.Binder.dll
SmartHomeTasksManager/SmartHomeTasksManager/bin/Debug/net7.0/Microsoft.Extensions.Configuration.CommandLine.dll
SmartHomeTasksManager/SmartHomeTasksManager/bin/Debug/net7.0/Microsoft.Extensions.Configuration.dll
SmartHomeTasksManager/SmartHomeTasksManager/bin/Debug/net7.0/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
SmartHomeTasksManager/SmartHomeTasksManager/bin/Debug/net7.0/Microsoft.Extensions.Configuration.FileExtensions.dll
SmartHomeTasksManager/SmartHomeTasksManager/bin/Debug/net7.0/Microsoft.Extensions.Configuration.Json.dll
SmartHomeTasksManager/SmartHomeTasksManager/bin/Debug/net7.0/Microsoft.Extensions.Configuration.UserSecrets.dll
SmartHomeTasksManager/SmartHomeTasksManager/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
SmartHomeTasksManager/SmartHomeTasksManager/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.dll
SmartHomeTasksManager/SmartHomeTasksManager/bin/Debug/net7.0/Microsoft.Extensions.FileProviders.Abstractions.dll
SmartHomeTasksManager/SmartHomeTasksManager/bin/Debug/net7.0/Microsoft.Extensions.FileProviders.Physical.dll
SmartHomeTasksManager/SmartHomeTasksManager/bin/Debug/net7.0/Microsoft.Extensions.FileSystemGlobbing.dll
SmartHomeTasksManager/SmartHomeTasksManager/bin/Debug/net7.0/Microsoft.Extensions.Hosting.Abstractions.dll
SmartHomeTasksManager/SmartHomeTasksManager/bin/Debug/net7.0/Microsoft.Extensions.Hosting.dll
SmartHomeTasksManager/SmartHomeTasksManager/bin/Debug/net7.0/Microsoft.Extensions.Logging.Abstractions.dll
SmartHomeTasksManager/SmartHomeTasksManager/bin/Debug/net7.0/Microsoft.Extensions.Logging.Configuration.dll
SmartHomeTasksManager/SmartHomeTasksManager/bin/Debug/net7.0/Microsoft.Extensions.Logging.Console.dll
SmartHomeTasksManager/SmartHomeTasksManager/bin/Debug/net7.0/Microsoft.Extensions.Logging.Debug.dll
SmartHomeTasksManager/SmartHomeTasksManager/bin/Debug/net7.0/Microsoft.Extensions.Logging.dll
SmartHomeTasksManager/SmartHomeTasksManager/bin/Debug/net7.0/Microsoft.Extensions.Logging.EventLog.dll
SmartHomeTasksManager/SmartHomeTasksManager/bin/Debug/net7.0/Microsoft.Extensions.Logging.EventSource.dll
SmartHomeTasksManager/SmartHomeTasksManager/bin/Debug/net7.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
SmartHomeTasksManager/SmartHomeTasksManager/bin/Debug/net7.0/Microsoft.Extensions.Options.dll
SmartHomeTasksManager/SmartHomeTasksManager/bin/Debug/net7.0/Microsoft.Extensions.Primitives.dll
SmartHomeTasksManager/SmartHomeTasksManager/bin/Debug/net7.0/SmartHomeTasksManager.deps.json
SmartHomeTasksManager/SmartHomeTasksManager/bin/Debug/net7.0/SmartHomeTasksManager.dll
SmartHomeTasksManager/SmartHomeTasksManager/bin/Debug/net7.0/SmartHomeTasksManager.exe
SmartHomeTasksManager/SmartHomeTasksManager/bin/Debug/net7.0/SmartHomeTasksManager.pdb
SmartHomeTasksManager/SmartHomeTasksManager/bin/Debug/net7.0/SmartHomeTasksManager.runtimeconfig.json
SmartHomeTasksManager/SmartHomeTasksManager/bin/Debug/net7.0/System.Diagnostics.EventLog.dll
SmartHomeTasksManager/SmartHomeTasksManager/bin/Debug/net7.0/runtimes/win/lib/net7.0/System.Diagnostics.EventLog.dll
SmartHomeTasksManager/SmartHomeTasksManager/bin/Debug/net7.0/runtimes/win/lib/net7.0/System.Diagnostics.EventLog.Messages.dll
SmartHomeTasksManager/SmartHomeTasksManager/obj/project.assets.json
SmartHomeTasksManager/SmartHomeTasksManager/obj/project.nuget.cache
SmartHomeTasksManager/SmartHomeTasksManager/obj/project.packagespec.json
SmartHomeTasksManager/SmartHomeTasksManager/obj/rider.project.restore.info
SmartHomeTasksManager/SmartHomeTasksManager/obj/SmartHomeTasksManager.csproj.nuget.dgspec.json
SmartHomeTasksManager/SmartHomeTasksManager/obj/SmartHomeTasksManager.csproj.nuget.g.props
SmartHomeTasksManager/SmartHomeTasksManager/obj/SmartHomeTasksManager.csproj.nuget.g.targets
SmartHomeTasksManager/SmartHomeTasksManager/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
SmartHomeTasksManager/SmartHomeTasksManager/obj/Debug/net7.0/apphost.exe
SmartHomeTasksManager/SmartHomeTasksManager/obj/Debug/net7.0/SmartHomeTasksManager.AssemblyInfo.cs
SmartHomeTasksManager/SmartHomeTasksManager/obj/Debug/net7.0/SmartHomeTasksManager.AssemblyInfoInputs.cache
SmartHomeTasksManager/SmartHomeTasksManager/obj/Debug/net7.0/SmartHomeTasksManager.assets.cache
SmartHomeTasksManager/SmartHomeTasksManager/obj/Debug/net7.0/SmartHomeTasksManager.csproj.AssemblyReference.cache
SmartHomeTasksManager/SmartHomeTasksManager/obj/Debug/net7.0/SmartHomeTasksManager.csproj.CopyComplete
SmartHomeTasksManager/SmartHomeTasksManager/obj/Debug/net7.0/SmartHomeTasksManager.csproj.CoreCompileInputs.cache
SmartHomeTasksManager/SmartHomeTasksManager/obj/Debug/net7.0/SmartHomeTasksManager.csproj.FileListAbsolute.txt
SmartHomeTasksManager/SmartHomeTasksManager/obj/Debug/net7.0/SmartHomeTasksManager.dll
SmartHomeTasksManager/SmartHomeTasksManager/obj/Debug/net7.0/SmartHomeTasksManager.GeneratedMSBuildEditorConfig.editorconfig
SmartHomeTasksManager/SmartHomeTasksManager/obj/Debug/net7.0/SmartHomeTasksManager.genruntimeconfig.cache
SmartHomeTasksManager/SmartHomeTasksManager/obj/Debug/net7.0/SmartHomeTasksManager.GlobalUsings.g.cs
SmartHomeTasksManager/SmartHomeTasksManager/obj/Debug/net7.0/SmartHomeTasksManager.pdb
SmartHomeTasksManager/SmartHomeTasksManager/obj/Debug/net7.0/ref/SmartHomeTasksManager.dll
SmartHomeTasksManager/SmartHomeTasksManager/obj/Debug/net7.0/refint/SmartHomeTasksManager.dll
.idea/.idea.SmartHome/.idea/indexLayout.xml
.idea/.idea.SmartHome/.idea/workspace.xml
SmartHome.TasksManager/.dockerignore
SmartHome.TasksManager/.editorconfig
SmartHome.TasksManager/Directory.Packages.props
SmartHome.TasksManager/ef-migrations.txt
SmartHome.TasksManager/LICENSE
SmartHome.TasksManager/.vscode/tasks.json
SmartHome.TasksManager/SharedProject1/Class1.cs
SmartHome.TasksManager/SharedProject1/SharedProject1.projitems
SmartHome.TasksManager/SharedProject1/SharedProject1.shproj
