<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/logs/SmartHome-API-internal.log">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
        <add assembly="NLog.Extensions.Logging"/>
    </extensions>

    <variable name="logDirectoryVariable" value="${basedir}/logs"/>
    <variable name="logDirectoryArchiveVariable" value="${logDirectoryVariable}/archive"/>

    <variable name="MicrosoftLogLevel"
              value="${level:lowercase=true:truncate=4:when=level==LogLevel.Info or level==LogLevel.Warn}${when:when=level==LogLevel.Error:inner=fail}${when:when=level==LogLevel.Fatal:inner=crit}${when:when=level==LogLevel.Debug:inner=dbug}${when:when=level==LogLevel.Trace:inner=trce}"/>

    <variable name="MicrosoftLogLayout"
              value="${MicrosoftLogLevel}: ${logger}[${event-properties:EventId_Id:whenEmpty=0}]${newline}      ${message}${onexception:inner=${newline}${exception:format=tostring}}"/>

    <targets>
        <default-wrapper xsi:type="AsyncWrapper" overflowAction="Block"/>

        <!-- https://github.com/NLog/NLog.Extensions.Logging/wiki/NLog-Console-and-AddConsole -->
        <target name="logConsole" xsi:type="ColoredConsole" layout="${MicrosoftLogLayout}"
                useDefaultRowHighlightingRules="false">
            <highlight-word foregroundColor="DarkGreen" regex="^info"/>
            <highlight-word foregroundColor="Yellow" regex="^warn"/>
            <highlight-word foregroundColor="Black" backgroundColor="Red" regex="^fail"/>
            <highlight-word foregroundColor="White" backgroundColor="Red" regex="^crit"/>
        </target>

        <target name="logFile"
                xsi:type="File"
                fileName="${logDirectoryVariable}/SmartHome-API-Logs-${shortdate}.log"
                archiveFileName="${logDirectoryArchiveVariable}/SmartHome-API-Logs-{###}.log"
                archiveEvery="Day"
                archiveNumbering="Date"
                maxArchiveFiles="30"/>
    </targets>

    <rules>
        <!-- Logging of hosting lifetime events -->
        <logger name="Microsoft.Hosting.Lifetime" maxlevel="Info" writeTo="logConsole, logFile" final="true"/>

        <!-- Keep http logs. Useful for debugging proxied requests (configurable in appsettings) -->
        <logger name="Microsoft.AspNetCore.HttpLogging.*" writeTo="logConsole, logFile" final="true"/>

        <!-- Discard any Debug logs from Microsoft namespace -->
        <logger name="Microsoft.*" maxlevel="Info" final="true"/>

        <!-- Discard any Debug logs from System.Net.Http namespace -->
        <logger name="System.Net.Http.*" maxlevel="Info" final="true"/>

        <!-- Any remaining logs are logged to the logFile and logConsole (Info and above) -->
        <logger name="*" minlevel="Debug" writeTo="logFile"/>
        <logger name="*" minlevel="Info" writeTo="logConsole"/>
    </rules>
</nlog>