.v-input {
    &.v-text-field {
        input {
            color: #002343;
            min-height: 40px;
            font-weight: 500;
        }
    }

    &.v-checkbox {
        &.nudge-left {
            margin-left: -12px;
        }

        &.nudge-up {
            // apply this class, when above the checkbox is text field to reduce the distance between components
            margin-top: -22px;
        }

        .v-checkbox-label {
            opacity: 1;
            font-weight: 500;
        }
    }

    .v-field--variant-outlined {
        .v-field__outline__start,
        .v-field__outline__end {
            border-color: #667b8e;
            opacity: 1;
        }

        .v-field__prepend-inner > .v-icon {
            opacity: 1;
            color: #cbd2d9;
            font-size: 18px;
        }
    }
}
