.v-input {
    &.v-input--density-comfortable,
    &.v-input--density-comfortable .v-field {
        font-size: 13px;

        .v-label.v-field-label {
            font-size: 13px;
        }
    }

    .v-field.v-field--variant-outlined input,
    .v-field.v-field--variant-outlined .v-select__selection-text {
        font-weight: 500;
    }
}

.v-label.v-form-label {
    opacity: 1;
    font-weight: 500;
}

// this will make sure, the validation errors are indented similarly as for text-fields
.v-checkbox .v-input__details {
    padding-inline-start: 6px;
    padding-inline-end: 6px;
}

.checkbox-list .v-checkbox.v-input--density-compact {
    --v-input-control-height: 24px;
}
