.v-table .v-data-table-footer,
.v-data-table .v-table__wrapper > table > thead > tr th {
    color: #011741 !important;
}

.v-table .v-table__wrapper > table > tbody > tr td {
    color: #001a31;
    border-bottom: thin solid rgba(0, 0, 0, 0.12);
}
