@use '~/@fontsource/poppins/latin.css';
@use '~/@fontsource/poppins/latin-ext.css';

@use 'panel-page';
@use 'buttons';
@use 'forms';
@use 'scrollbar';

html,
body,
.v-application {
    overflow-y: auto !important;
}

.v-footer {
    font-size: 0.875rem;
    font-weight: 500;
}
