// https://next.vuetifyjs.com/features/sass-variables/

$field-padding-start-end: 10px;

@use 'vuetify/settings' with (
    $body-font-family: (
        'Poppins',
        sans-serif,
    ),
    $font-size-root: 0.875rem,
    $input-font-size: 1rem,
    $field-font-size: 1rem,
    $button-height: 40px,
    $tooltip-background-color: #25af73,
    $text-on-shades: (
        // when the bg-white class is used, then override the default text color
        'white': #002343,
    ),
    $typography: (
        'h4': (
            'size': 2rem,
            'weight': 600,
            'line-height': 2.5rem,
        ),
        'button': (
            'size': 1rem,
            'letter-spacing': 0.17px,
        ),
    ),
    $button-density: (
        'default': 0,
        'comfortable': -1,
        'compact': -3,
    ),
    $input-density: (
        'default': -4,
        'comfortable': -5,
        'compact': -6,
    ),
    $text-field-input-padding-start: $field-padding-start-end,
    $text-field-input-padding-end: $field-padding-start-end,
    $text-field-details-padding-inline: 6px,
    $field-control-padding-start: $field-padding-start-end,
    $field-control-padding-end: $field-padding-start-end,
    $field-control-affixed-padding: 8px,
    $field-focused-border-width: 1px
);

// Fix for monospace Font.
code,
kbd,
pre,
samp,
var {
    font-family: 'Roboto Mono', monospace !important;
}
